@import url('https://fonts.googleapis.com/css2?family=Jaldi&family=Sintony&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
    
}
html {
    scroll-behavior: smooth;
  }

body{
    font-family: sintony, sans-serif;
    font-weight:300;
    color:#2E4053;
}

/* heading and logo */
#heading{
    height: 5rem;
    position: fixed;
    background: aquamarine;
    width: 100%;
    z-index: 1;
}
h1{
    font-family: jaldi, sans-serif;
    text-transform: capitalize;
    letter-spacing: 0.3rem;
    color:#1C2833;
}
h2{ 
    font-family: sintony, sans-serif;
    text-transform: uppercase;
    font-size: 20px;
}

#logo{
    float:left;
    font-size: 200%;
    margin-left: 25px;
}

/* navagation links */

#menu{
    font-size:100%;
    letter-spacing: 0.1em;
}

#menu, #logo{
    line-height:4.5rem;
}

#menu li{
    float:right;
    list-style-type:none;
    margin-right: 2rem;
}
#menu a:hover{
    border-bottom: 0.2rem solid #666699;
}

/* hero image*/

#hero-image {
    height: 300px;
    width: 100%;
    float:left;
    background-size:75%;
}

/*building*/

#building{
    height: 490px;
}

#build{
    font-size: 280%;
    text-transform: uppercase;
    letter-spacing: 4px;
    right: 500px;
    position: absolute;
    padding: 56px;
}
#building-text{
    font-size: 130%;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 700px;
    right: 100px;
    position: absolute;
    padding-top: 5rem;
    padding: 13px;
}

/* painting*/

#painting{
    height:500px;
}
#left-side{
    padding-top: 80px;
    width: 30%;
    float: left;
    
}

#right-side{
    padding-top: 80px;
    width: 30%;
    float: right;
}

#center-about{
    width: 39%;
    margin: 0 auto;
}

.left-side-about {
    width:60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
    border-style: dotted;
    border-color: red;
    background-color:aquamarine;
}
    
.right-side-about {
    width:60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
    border-style: dotted;
    border-color: red;
    background-color:aquamarine;
}
 #heading-painting{
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
    text-transform: uppercase;
}

#circle-square{
    width: 39%;
    height: 300px;
    padding: 25px;
    border-style: dashed;
    border-color: black;
    border-width: 0.5rem;
    border-radius: 25%;
    margin: 0 auto;
}

#circle-background{
    background: url('../images/maxresdefault.jpg') no-repeat center center;
    background-size:100% 100%;
    height: 100%;
    border-radius: 25%;
}
/* Form */

.form-section {
    clear: left;
    background-size: cover;
    background-position: center;
    height: 500px;
}

.signup-form {
    color: #7e2929;
    background-color: aquamarine;
    max-width: 500px;
    position: absolute;
    left: 39%;
    padding: 30px;
}

.signup-form > h2 {
    color: red;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #black;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: blue;
    display: block;
    color: #ffffff;
}

.join-button:hover {
    background-color: white;
    color: #f16c6b;
}