@import url('https://fonts.googleapis.com/css2?family=Jaldi&family=Sintony&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: sintony, sans-serif;
    font-weight:300;
    color:#2E4053;
}

/* heading and logo */
#heading{
    height: 5rem;
}
h1{
    font-family: jaldi, sans-serif;
    text-transform: capitalize;
    letter-spacing: 0.3rem;
    color:#1C2833;
}
h2{ 
font-family: sintony, sans-serif;
text-transform: uppercase;
font-size: 20px;
}

#logo{
    float:left;
    font-size: 200%;
    margin-left: 25px;
}

/* navagation links */

#menu{
    font-size:100%;
    letter-spacing: 0.1em;
}

#menu, #logo{
    line-height:4.5rem;
}

#menu li{
    float:right;
    list-style-type:none;
    margin-right: 2rem;
}
#menu a:hover{
    border-bottom: 0.2rem solid #666699;
}

/* hero image*/

#hero-image {
    height: 300px;
    width: 100%;
    float:left;
    background-size:75%;
}

/*building*/

#building{
    height: 490px;
}

#build{
    font-size: 160%;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding-left: 1000px;
    
}
#building-text{
    font-size: 130%;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-left: 1000px;
    bottom: 5px;
}

/* painting*/

#painting{
    height:500px;
}
#left-side{
    padding-top: 30px;
    width: 30%;
    float: left;
}

#right-side{
    padding-top: 50px;
    width: 30%;
    float: right;
}

#center-about{
    width: 39%;
    margin: 0 auto;
}

.left-side-about {
    width:60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}
    
.right-side-about {
    width:60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}
 #heading-painting{
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
}
#circle{
    width: 39%;
    height: 300px;
    padding: 25px;
    border-style: dashed;
    border-color: black;
    border-width: 0.5rem;
    border-radius: 25%;
    margin: 0 auto;
}

#circle-background{
    background: url('../images/maxresdefault.jpg') no-repeat center center;
    height: 100%;
    border-radius: 25%;
}