@import url('https://fonts.googleapis.com/css2?family=Jaldi&family=Sintony&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: sintony, sans-serif;
    font-weight:300;
    color:#2E4053;
}

/* heading and logo */

h1,h2{
    font-family: jaldi, sans-serif;
    text-transform: capitalize;
    letter-spacing: 0.3rem;
    color:#1C2833;
}

#logo{
    float:left;
    font-size: 200%;
    margin-left: 30px;
}

/* navagation links */

#menu{
    font-size:100%;
    letter-spacing: 0.1em;
    position: sticky;
}

#menu, #logo{
    line-height:4.5rem;
}

#menu li{
    float:right;
    list-style-type:none;
    margin-right: 2rem;
}
#menu a:hover{
    border-bottom: 0.2rem solid #666699;
}

/* hero image*/

#hero-outter{
    height: auto;
    width: 50%;
    overflow: hidden;
}

#hero-image {
    height: 700px;
    width: 100%;
    background: url('../images/people-building.png') no-repeat center center;
    float:left;
    background-size: 100%;
}

/* flexbox 1*/

.flexbox-container {
    display:flex;
   
    
}
.flexbox-item{
    width:200px
    margin: 10px;
    
}

.flexbox-item-2{
    flex-grow: 2;
    flex-basis: 0;
    }

.flexbox-item-3{
    flex-grow: 2;
    flex-basis: 0;
}

/*flexbox 2*/
